@font-face {
  font-family: "DBHelvethaicaX-Bd";
  src: url("./webfonts/DBHelvethaicaX-Bd.woff") format("woff2"),
    url("./webfonts/DBHelvethaicaX-Bd.woff") format("woff");
}

@font-face {
  font-family: "DBHelvethaicaX";
  src: url("./webfonts/DBHelvethaicaX.woff2") format("woff2"),
    url("./webfonts/DBHelvethaicaX.woff") format("woff");
}

@font-face {
  font-family: "DBHelvethaicaMonXReg";
  src: url("./webfonts/DBHelvethaicaMonXReg.woff2") format("woff2"),
    url("./webfonts/DBHelvethaicaMonXReg.woff") format("woff");
}